$background: #d7d7d7;

$main_color: #2b5d93;
$secondary_color: #5188c4;

$button_border: #a1a1a1;
$button_background: #f1f1f1;
$button_background_hover: #c9c9c9;
$button_color: #000;
$button_color_selected: #fff;

$header_color: #fff;

$day_border: #a1a1a1;
$day_background: #fff;
$day_hover: #efefef;
$current_day_header: #ff5f5f;
$current_day_color: #fff;
$week_day_header: #cae7f8;
$week_day_color: #000;
$inactive_day_color: #9d9d9d;
$inactive_day_background: #efefef;

$event_background: #e0f1ff;
$event_background_hover: $secondary_color;
$event_color: #2c3e50;
$event_color_hover: #fff;
$event_border: $main_color;

