$font_family: "Poppins", serif;
$font_weight: 400;

$background: #f0f4f9;

$main_color: #747775;
$secondary_color: #9fa3a0;

$button_border: #747775;
$button_background: #f0f4f9;
$button_background_hover: #dfe3e7;
$button_color: #747775;
$button_color_selected: #747775;

$header_color: #fff;

$day_border: #a1a1a1;
$day_background: #fff;
$day_hover: #efefef;
$current_day_header: #ff5f5f;
$current_day_color: #fff;
$week_day_header: #cae7f8;
$week_day_color: #000;
$inactive_day_color: #dce0e4;
$inactive_day_background: #fff;

$event_background: #fff;
$event_background_hover: #dcdcdc;
$event_color: #2c3e50;
$event_color_hover: #fff;
$event_border: $main_color;

