.popup {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    z-index: 9999;

    .container {
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 50%;
        height: 400px;
        min-width: 200px;
        max-width: 600px;
        display: flex;
        flex-direction: column;
        padding: 20px;
        background-color: #fff;
        border: solid 1px #000;
        border-radius: 20px;
        text-align: center;

        sup {
            font-size: 12px;
        }

        .content {
            height: 100%;
            overflow: auto;
        }
    }

    .shadow {
        position: absolute;
        width: 100%;
        height: 100%;
        background-color: #1f1d1d;
        opacity: 0.4;
    }

    .dates {
        text-align: left;
        margin-bottom: 5px;
    }

    .dates label:first-child {
        background-color: $event_background;
        padding: 5px;
        border-radius: 10px;
        width: 80px;
        display: inline-block;
    }

    .dates label:last-child {
        font-weight: bold;
        padding: 5px;
    }

    .event label:first-child {
        text-align: left;
        background-color: $event_background;
        padding: 5px;
        margin-top: 10px;
        border-radius: 10px;
        border: dashed 1px $event_border;
        display: block;
    }

    .event label:last-child {
        text-align: left;
        padding: 5px 5px 0 5px;
        margin-left: 10px;
        display: block;
        border-left: solid 3px $event_background;
    }

    button {
        padding: 7px;
        border: none;
        background-color: $button_background;
        border-radius: 30px;
        cursor: pointer;
        font-size: 12px;
        min-width: 100px;
    }

    button:hover {
        background-color: $button_background_hover;
    }
}
